<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Purchases List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link href="home.css" rel="stylesheet">
    <link href="men.css" rel="stylesheet">
</head>
<body>

<h1>Purchases List</h1>
<br><br><br><br>
    <% if (allPurchases && allPurchases.length) { %>
        <% allPurchases.forEach(function(purchase) { %>
            <div>
                <p>Purchase ID: <%= purchase._id %></p>
                <p>Purchase Date: <%= purchase.timestamp %></p>

                <hr>  <br><br><br><br>
    
            </div>
        <% }) %>
    <% } else { %>
        <p>No purchases found.</p>
    <% } %>

</body>
</html>