<!doctype html>
<html lang="en">
  <head></head>
  <body>
    <form action="/login" method="post">
        <input name="username">
        <input name="password" type="password">
        <input type="submit">
    </form>
    <a href="/register">Register</a>
  </body>
</html>
