#logo{
    height: 90px;
    width: 150px;
}
.category{
  border: none;
}
header{
  width: 98%;
  position:fixed;
}
.leftBar{
  padding: 20px;
}
.sh{
  padding: 20px;
}
.center{
  border-style: none;
}

.center:hover{
  background-color: #fff;
  color: #ccc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.un-l{
  text-decoration: none;
  color: gray;
}

.container {
  max-width: 1200px;
  width: 95%;
  display: flex;
  flex-direction: column;
}


.btn-link{
  color: black;
}
.carousel{
  width: 1000px;
  height: 100px;
}







       /* סגנון עבור חלון המודל */
       .modal {
        display: none; /* כדי להציג את המודל רק כאשר הוא נפתח */
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0,0,0,0.4); /* עמידה עם רקע שחור שקט */
        padding-top: 60px;
    }

    /* סגנון לאיזור תוכן המודל */
    .modal-content {
        background-color: #fefefe;
        margin: 5% auto;
        padding: 20px;
        border: 1px solid #888;
        width: 80%;
        max-width: 400px;
    }

    /* סגנון לכפתור סגירת המודל */
    .close {
        color: #aaa;
        float: right;
        font-size: 28px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }