
/* #logo{
    height: 90px;
    width: 150px;
    position: absolute;
    right: 10px;
  } */
  /* .container {
    display: flex;
    flex-wrap: nowrap; 
    gap: 10px; 
  } */
  
  /* .card {
    box-sizing: border-box;
    width: 190px;
    height: 254px;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    color: black;
    flex-direction: column; 
  } */
  
  /* .card:hover {
    border: 1px solid black;
    transform: scale(1.05);
  }
  
  .card:active {
    transform: scale(0.95) rotateZ(1.7deg);
  } */
  
/* body{
    background-color:rgb(230, 220, 201);
}
.row{
    background-color:rgb(230, 220, 201);
/* } 
/*
@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */
.card {
  width: 190px;
  background: white;
  padding: .4em;
  border-radius: 6px;
  left: 20px;
}

.card-image {
  background-color: rgb(236, 236, 236);
  width: 100%;
  height: 130px;
  border-radius: 6px 6px 0 0;
}
.nadav{
  width: 100%;
  height: 130px;
}

.card-image:hover {
  transform: scale(0.98);
}

.category {
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 600;
  color: rgb(63, 121, 230);
  padding: 10px 7px 0;
}

.category:hover {
  cursor: pointer;
}

.heading {
  font-weight: 600;
  color: rgb(88, 87, 87);
  padding: 7px;
}

.heading:hover {
  cursor: pointer;
}

.author {
  color: gray;
  font-weight: 400;
  font-size: 11px;
  padding-top: 20px;
}

.name {
  font-weight: 600;
}

.name:hover {
  cursor: pointer;
}
.container1 {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 500px;
  gap: 10px;

  > div {
    flex: 0 0 120px;
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
    /* cursor: pointer; */
    box-shadow: 1px 5px 15px #1e0e3e;
    position: relative;
    overflow: hidden;

    &:nth-of-type(1) {
      background: url("https://media.boohoo.com/i/boohoo/gzz45238_cream_xl/female-cream-cream-retro-sunglasses/?w=900&qlt=default&fmt.jp2.qlt=70&fmt=auto&sm=fit")
        no-repeat 50% / cover;
    }
    &:nth-of-type(2) {
      background: url("https://media.sunglasshut.com/cms/resource/image/1121352/landscape_ratio960x626/1536/1002/710290425763980fd1198edb1281c0dc/8C6C693C2E6BF1BE0AF381D5EA595AB1/sgh-men-sport-1.jpg")
        no-repeat 50% / cover;
    }
    &:nth-of-type(3) {
      background: url("https://di2ponv0v5otw.cloudfront.net/posts/2018/03/23/5ab5bcc661ca10157396d8d1/m_5ab5bd0846aa7c15ed164f7b.jpg")
        no-repeat 50% / cover;
    }
    &:nth-of-type(4) {
      background: url("https://missandtrendy.co.uk/cdn/shop/files/men_uv_400__polarized_sunglasses_missandtrendy_london_3.jpg?v=1707810365&width=880")
        no-repeat 50% / cover;
    }

    .content {
      font-size: 1.5rem;
      color: #fff;
      display: flex;
      align-items: center;
      padding: 15px;
      opacity: 0;
      flex-direction: column;
      height: 100%;
      justify-content: flex-end;
      background: rgb(2, 2, 46);
      background: linear-gradient(
        0deg,
        rgba(2, 2, 46, 0.6755077030812324) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      transform: translatey(100%);
      transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
      visibility: hidden;

      span {
        display: block;
        margin-top: 5px;
        font-size: 1.2rem;
      }
    }

    &:hover {
      flex: 0 0 250px;
      box-shadow: 1px 3px 15px #7645d8;
      transform: translatey(-30px);
    }

    &:hover .content {
      opacity: 1;
      transform: translatey(0%);
      visibility: visible;
    }
  }
}
.champ{
  display: flex;
  flex-direction: row;
  gap: 3%;
}
.menButton{
  border: none;
  background: none;
  font-size: 120%;
}
.womenButton{
  border: none;
  background: none;
  font-size: 120%;
}
#numOfMenProd{
  color: rgb(230, 220, 201);

}
#numOfUsers{
  font-size: 18pt;

}

#numOfWomenProd{
  color: rgb(230, 220, 201);

}